html{
    font-size:62.5%;
}

body{
    background-color:black;
    width:100vw;
    font-family: "Hiragino Maru Gothic Pro", "Meiryo",  sans-serif;
    color:white;
    text-align: center;
}
h1{
    font-size:36px;
    line-height:1px;
}
h4{
    font-size:18px;
}
.title{
    font-size:28px;
    
}
.text{
    font-size:18px;
}

p{
    width:50vw;
    line-height: 1.3em;
    transform:translateY(30px);
    font-size:18px;
}

